<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.dao.TeacherMapper" >
    <select id="selectByPrimaryKey" resultType="com.example.domain.TeacherEntity" parameterType="long" >
        select t.TID,t.Tname from teacher t WHERE t.TID=#{id}
    </select>
</mapper>